# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Sceince
- List Tools and Environments used for Data Science
- Evaluate simple arithmatic using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries by Data Sceintists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. Scikit-learn
5. Tensorflow
6. Pytorch
7. Apache Spark
8. NumPy
9. ggplot2
10. Vegas

| Data Sceince Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| Visual Studio Code |
| Spyder |

### Below are a few examples of evaluating arithemetic expressions in Python

In [4]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [23]:
#This will convert 200 minutes to hours by dividing by 60.
ans=200/60
print(f"{ans} hours")

3.3333333333333335 hours

## Author
Dante Nord